<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <img src="assets/images/text_symbol_white.svg" alt="dwellshare - helping to find shared houses">
    <p class="lead">Search. Meet. Move in</p>
  </div>
</header>

<div class="container">
  <form class="thing-form">
    <label>Find shared houses in your neighbourhood</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>Dwellshare Inc|
        <a href="https://twitter.com/dwellshare">@dwellshare</a> |
         <a href="https://github.com/geekgugi/lonely-mountain/issues?state=open">Issues</a></p>
  </div>
</footer>
